/* Define estilos para telas com largura máxima de 768px */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    table {
        width: 100%;
    }
    th, td {
        padding: 10px;
    }
    h1 {
        font-size: 2em;
    }
}

/* Estilos gerais para o corpo da página */
body {
    font-family: 'Roboto', sans-serif; 
    background: linear-gradient(to right, #DBE716, #E4F975); 
    color: #ffffff; 
    margin: 0;
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    flex-direction: column;
}

/* Estilos para os títulos h1 */
h1 {
    font-size: 2.5em; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    color: #000000; 
}

/* Estilos para as tabelas */
table {
    width: 94%; 
    border-collapse: collapse; 
    margin-top: 20px; 
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

/* Estilos para células th e td */
th, td {
    padding: 15px; 
    text-align: center; 
}

/* Estilos para cabeçalhos de tabela */
th {
    background: rgba(0, 0, 0, 0.7);
    color: #ffcc00; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

/* Estilos para células de tabela */
td {
    background: rgba(0, 0, 0, 0.5); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

tr:hover td {
    background: rgba(255, 255, 255, 0.2); 
}

/* Estilos para células do rodapé da tabela */
tfoot td {
    text-align: right;
    font-style: italic; 
    color: #ffcc00; 
    background: rgba(0, 0, 0, 0.7); 
    border: none;
    padding: 10px;
}

/* Repete os estilos para telas com largura máxima de 768px para garantir a prioridade */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    table {
        width: 100%;
    }
    th, td {
        padding: 10px;
    }
    h1 {
        font-size: 2em;
    }
}