/*bloco responsavel pelo cabeçalho*/

header {
  text-decoration: #ff0000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 118px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000000 50%,
    rgba(0, 0, 0, 0.01) 90%
  );
  mask-image: linear-gradient(to bottom, #000 70%, rgba(0, 0, 0, 0.01) 90%);
  background-color: #000000;
  text-align: left;
  padding: 20px 0;
}

h1 {
  color: #ffffff;
}

#titulo {
  color: rgb(255, 255, 255);
}

#sennacap {
  width: 620px;
}

#nurs {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*bloco responsavel pelo corpo*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

/*bloco responsavel pelo link do roda-pe*/

#senna {
  color: white;
}

/*bloco responsavel pela imagem de perfil*/

#profile {
  float: right;
  width: 30%;
  margin-top: 65px;
  margin-right: 20px;
}

/*bloco responsavel pela imagem de perfil*/

#profile img {
  width: 100%;
  border-radius: 50%;
}

#tgt {
  width: 30%;
  align-items: center;
}

/*bloco responsavel pelo background da pagina "sobre ele"*/

aside {
  background-color: #f4f4f4;
  padding: 20px;
}

/*bloco responsavel pelo rodape*/

footer {
  background-color: #92000a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: flex;
  bottom: 0;
  width: 100%;
}

/*bloco responsavel por toda margem do corpo*/

main {
  padding: 70px;
}

/*bloco responsavel por definir o tamanho da lista*/

table {
  width: 100%;
  border-collapse: collapse;
}

/*bloco responsavel pela linha da lista de conquistas*/

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/*background do cabeçalho da lista*/

th {
  background-color: #f2f2f2;
}

#gal img {
  width: auto;
  height: 30rem;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-left: 2px;
  margin-right: 2px;
}

section {
  grid-column: auto;
  column-count: 2;
  column-gap: 10px;
}