/* bloco responsavel por definir variaveis para o site */
:root {
    --pc: #170826;
    --sc: #594A8C;
    --tc: #9F88F2;
    --qc: #B2A0F2;
    --wht: #F2F2F2;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --tc-hover: #7f70c2;
    /* Adicionei uma cor de destaque manualmente */
}

/* bloco reponsavel pelo cabeçalho */
header {
    color: var(--wht);
    background-color: var(--pc);
    padding: 1%;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: center;
}

header h1 {
    text-align: center;
    margin-left: 1em;
}

header h2 {
    text-align: center;
    margin-right: 1em;
}

/* bloco responsavel por remover o container da renderização */
#design-archives {
    display: none;
}

/* bloco responsavel pelas definições do corpo do site */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 80%;
    max-width: 1280px;
    margin: 20px auto;
}

/* bloco responsavel por definir a altura da seção inicial */
#zen-intro {
    height: 550px;
}

/* bloco responsavel pelo rodapé */
footer {
    background-color: var(--pc);
    color: var(--wht);
    text-align: center;
    padding: 1em 0;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer a {
    display: inline-block;
    border: 2px solid var(--wht);
    padding: 0.5em;
    margin: 0.5em;
    color: var(--wht);
    text-decoration: none;
    min-width: 100px;
}

/* bloco responsavel pelos menus */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 1em;
    text-align: center;
    border-top: var(--border);
}

ul li:last-child {
    border-bottom: var(--border);
}

/* bloco responsavel por parágrafos */
p {
    text-indent: 1em;
}

/* bloco responsavel por centralizar os textos */
h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

/* bloco responsavel pelas seções de resumo e principal */
.intro {
    text-align: center;
}

/* bloco responsavel por definir o espaçamento entre as linhas */
.main {
    line-height: 1.5;
}

.main p:first-of-type::first-letter {
    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
    float: left;
    margin-right: 0.1em;
    line-height: 1;
}

/* bloco responsavel por adicionar small-caps para as abreviaturas */
abbr {
    font-variant: small-caps;
}

/* bloco responsavel pela seção de benefícios */
.benefits-section {
    display: flex;
    border-top: var(--border);
    border-bottom: var(--border);
}

.benefits-section .text {
    flex: 0 0 70%;
    padding: 1em;
}

.benefits-section .title {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* bloco responsavel pela seção de participação */
.participation-section {
    display: flex;
    border-bottom: var(--border);
}

.participation-section .item {
    flex: 1;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Removendo borda duplicada entre as seções de benefícios e participação */
.benefits-section+.participation-section {
    border-top: 0;
}

/* bloco responsavel pelo media query para telas menores que 768 pixels */
@media (max-width: 768px) {

    #design-archives {
        display: none;
    }

    .benefits-section,
    .participation-section {
        border-left: none;
        border-right: none;
    }

    .benefits-section,
    .participation-section {
        flex-direction: column;
    }

    header {
        height: auto;
    }

    p {
        text-indent: 0;
    }

}

/* bloco responsavel por parte media query */
@media print {

    body {
        font-family: "Times New Roman", Times, serif;
    }

    /* bloco responsavel por inverter as cores do cabeçalho */
    header {
        color: var(--pc);
        background-color: var(--wht);
    }

}

/* bloco responsavel pela customização da aparência dos links */
a {
    color: var(--tc);
    font-weight: bold;
}

a:hover {
    color: var(--tc-hover);
}

a:visited {
    font-weight: normal;
}