/*definição de variaveis do site*/

:root {
    --main-color: #fa8e0b;    /*   MUDANÇA   foi mudada a cor de destaque da pagina*/
    --bc: #8F511E;
    --brown: #13131a; /*   MUDANÇA   mudança leve de cor*/
    --bg: rgb(20, 1, 1);
    --bl: #FFFFFF;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

/*bloco resnponsavel por zerar todas as configs de estilização do site*/

* {
    font-family: "Roboto", sans-serif;
    transition: 0.15s linear;
    border: none;
    margin: 0;
    text-decoration: none;
    padding: 0;
    text-transform: none;
    outline: none;
}

/*margem da pagina*/

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/*bloco responsavel pelo cabeçalho do site*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}

/*bloco responsavel por configurações de epaçaento e confgs dos elementos do cabeçalho*/

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/*cor e tamanho de fonte das palavras da nav bar*/

.navbar a {
    margin: 1.25rem;  /*MUDANÇA  aumentada a distancia entre os links do navbar*/
    font-size: 1.9rem;
    color: var(--bl)
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--border);
    padding-bottom: 0.4rem;
    font-size: 2rem;
}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

/*bloco responsavel pelo espaçamento da animação dos simbolos da cabeçalho*/

.icons img:hover {
    width: 30px;
    height: 30px;
}

/*Atributos do botão de compra da pagina home*/

.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1.5rem 1rem; /* MUDANÇA  ampliado o padding para dar mais espaço para o texto dentro do botão  */    
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: -1rem;
    display: inline-block;
}

#btn-orçamento {  /* MUDANÇA   mudança especifica no botão de orçamento para afasta-lo do texto */ 
    padding: 1.5rem 1rem;
    margin-top: 1rem
}

/* bloco responsavel pela animação do botão de compra da tela home*/

.btn:hover {
    letter-spacing: 0.15rem;
}

/*bloco responsavel pela imagem de funda pagina home*/

.home-container {
    background: url(imagens/home.jpg);
    height: 80vh;      /* MUDANÇA  alterada a altura do titulo para sinalizar ao usuario que ha mais conteudo abaixo do titulo*/
    background-position: center;
    background-size: cover;
}

/*alinhamento do titulo da pagina home*/

.home-container section {
    display: flex;
    align-items: center;
    min-height: 70vh;    /*MUDANÇA  titulo levemente elevado para não entrar em conflito com a imagem */
}

/*margem do titulo da pagina home*/

.content {
    max-width: 50rem;
}

/*titulo da pagina home*/

.content h3 {
    color: #fff;
    font-size: 6rem;
}

/*sub titulo da pagina home*/

.content p {
    color:#ffffff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem;
}

.title{
    font-size: 4rem;
    color: var(--main-color);
    text-align: center  ;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

/*alinhamento do fundo do texto da pagina sobre*/

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--bc);
    gap: 1.6rem;
    line-height: 0;
}

.about .row .content {
    padding: 0rem;
}

/*tamanho fonte da pag sobre*/

.about .row .content h3 {
    font-size: 2.3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.4rem;
    color: #fff;
    padding: 3.5rem 0;
    line-height: 1.5;
}

body {
    background-color: var(--bg);
}


/*Mapa e endereço*/



